</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar_final.css" rel="stylesheet" type="text/css">
    
</head>
<body>
  <!-- <%- include('./partials/navbar.ejs') %> -->
  <span id="datastore" data-response="<%= response %>"></span>
  
  <% if( ishmc ){ %>
      <%- include("./partials/navbar_for_hmc.ejs") %>
  <% }else{ %>
      <%- include('./partials/navbar.ejs') %>
  <% } %>
    <hr>
    <div class="create-blog content">
      <form action="/updateroomchangerequest" method="POST">
        <label for="title">Current room :</label>
        <input type="text" id="title" name="currentroom" readonly value="<%= user.room %>">
        <label for="requestedroom">Requested Room:</label>
        <input type="text" id="requestedroom" name="requestedroom" required value="<%= user.requestedroom %>">
        <label for="body">Reasons and justification :</label>
        <input type="text" id="body" name="reason" required value="<%= user.reasonOfRoomChange %>">
        <button type="Submit" style="background-color:rgb(22, 152, 22);">Update</button>
        <button style="margin-left:20px">Delete Request</button>
      </form>
      
    </div>
    <h3 id="alert" 
        style="font-weight:bold;
        color:rgb(213, 92, 92);
        margin-top:20px;
        align-content: center;
        margin-bottom: 20px;
        padding-left:40%;
        align-self: center;
        align-items: center;
        ">
    </h3>
    <script>
        
        // hamburger section
        const hamburger = document.querySelector(".ham");  
        const navsub = document.querySelector(".nav-sub");  
        hamburger.addEventListener('click', () => {  
            hamburger.classList.toggle("change");
            navsub.classList.toggle("nav-change");
        });

        function tempAlert(msg,duration)
        {
            var el = document.getElementById('alert');
            el.innerHTML = msg;
            setTimeout(function(){
                el.parentNode.removeChild(el);
            },duration);
            document.body.appendChild(el);
        }
        var res=document.getElementById('datastore').dataset.response;
        if(res !=="nothing" && res!== ""){
          tempAlert(res,2000)
              .then((result)=>{
                  console.log("done");
              })
              .catch(err=>console.log(err));
        }
    </script>
</body>
</html>